DEBUG=False
SECRET_KEY="XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
DB_HOST=localhost
DB_PORT=5432
DB_NAME=dbname
DB_USER=dbuser
DB_PASSWORD=dbpassword
S3_ENDPOINT_URL=https://your-end-point-url.com
S3_ACCESS_KEY=your-access-key
S3_SECRET_KEY=your-secret-key
S3_BUCKET_NAME=your-bucket-name
S3_REGION_NAME=your-region-name

GUNICORN_CMD_ARGS=--workers 2 --threads 2 --timeout 60 --keep-alive 5 --max-requests 1000 --max-requests-jitter 100   # Adjust the Gunicorn command arguments as needed for your deployment environment.